# MATLAB/simulink temporary output
**/slprj/
*.mexw64.pdb
*.autosave

# Data

7_mpc_performance_vs_period/_result_group_a/
7_mpc_performance_vs_period/_result_group_b/
7_mpc_performance_vs_period/_result_group_c/
7_mpc_performance_vs_period/_result_group_d/
*.asv
